<p-toast></p-toast>
<div class=" content">
  <div class=" row">
    <div class=" col-lg-6">
      <p-table [columns]="cols" [value]="listOfUserHistory" paginator="true" rows="11" [alwaysShowPaginator]="false"
        [(selection)]="selectedStocks" [rowHover]="true">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" style="text-align: center;" [pSortableColumn]="col.field"
              colspan="col.colspan">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <ng-container *ngFor="let col of columns">
              <td *ngIf="col.field == 'companySymbol'" style="text-align: center;">
                <a class="hyperlink" (click)="getSelectedStockDetails(rowData)"
                  style="color: blue;"><u>{{rowData[col.field]}}</u></a>
              </td>
              <td *ngIf="col.field == 'sector'" style="text-align: center;">
                {{rowData[col.field]}}
              </td>
              <td *ngIf="col.field != 'companySymbol' && col.field != 'sector'" style="text-align: center;">
                {{rowData[col.field] | number}}
              </td>
            </ng-container>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Over 52 weeks</h5>
          <h4 class=" card-title">
            <i class=" tim-icons icon-calendar-60 text-info"> </i> PERFORMANCE CHART - {{selectedStockSymbol}}
          </h4>
        </div>
        <div class="card-body">
          <div *ngIf="!stockSelectedFlag" style="text-align: center;">
            <p-progressSpinner></p-progressSpinner>
          </div>
          <div *ngIf="stockSelectedFlag">
            <p-chart type="line" [data]="chartData" [options]="chartConfigOptions"></p-chart>
          </div>
        </div>
      </div>

      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Current Statistics</h5>
          <h4 class="card-title">
            <i class=" tim-icons icon-notes text-info"> </i> META DATA - {{selectedStockSymbol}}
          </h4>
        </div>
        <div class="card-body">
          <div *ngIf="!stockSelectedFlag" style="text-align: center;">
            <p-progressSpinner></p-progressSpinner>
          </div>
          <h4 *ngIf="stockSelectedFlag">
            <div class="row">
              <div class="col-md-12" style="text-align: center;">
                <h2 style="color: #1DCEF1;">{{selectedStock.companySymbol}}</h2>
                <h3 style="color: #25D4E6;"> {{selectedStock.companyName}}</h3>
                <h4 style="color: #2DDADB;">Market Capital : {{selectedStock.marketCap | number}} INR</h4><br>

                <div class="row">
                  <div class="col-md-4">
                    <h4 style="color: #35E0D1;"><u>Volume</u><br>
                      {{selectedStock.volume | number}}</h4>
                  </div>
                  <div class="col-md-4">
                    <h4 style="color: #35E0D1;"><u>Change %</u><br>
                      {{selectedStock.change | number}}</h4>
                  </div>
                  <div class="col-md-4">
                    <h4 style="color: #35E0D1;"><u>PE Ratio</u><br>
                      {{selectedStock.peRatio | number}}</h4>
                  </div>
                </div>
              </div>
            </div>

            <br>

            <div class="row" style="text-align: center;">
              <div class="col-md-3">
                <h4 style="color: #3DE6C6;">
                  <u>Open</u><br>
                  {{selectedStock.open | number}} INR
                </h4>
              </div>
              <div class="col-md-3">
                <h4 style="color: #3DE6C6;">
                  <u>Close</u><br>
                  {{selectedStock.close | number}} INR
                </h4>
              </div>
              <div class="col-md-3">
                <h4 style="color: #3DE6C6;">
                  <u>High</u><br>
                  {{selectedStock.high | number}} INR
                </h4>
              </div>
              <div class="col-md-3">
                <h4 style="color: #3DE6C6;">
                  <u>Low</u><br>
                  {{selectedStock.low | number}} INR
                </h4>
              </div>
            </div>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>