<div class="content">

  <div class=" row">
    <div class=" col-lg-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <h4 class=" card-category">Sector Wise Comparison</h4>
          <h2 class=" card-title">
            <i class=" tim-icons icon-chart-bar-32 text-info"> </i> All Sectors
          </h2>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="SectorChart"> </canvas></div>
        </div>
      </div>

    </div>
  </div>

  <div class=" row">
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Top Business Headlines</h5>
        </div>
        <div class=" card-body">
          <p-carousel [value]="latestNews" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1"
            [circular]="true" [autoplayInterval]="4000" [responsiveOptions]="responsiveOptions">
            <ng-template let-newsArticle pTemplate="item">
              <a href="{{newsArticle.url}}" style="color: white;"><u>{{newsArticle.title}}</u></a>
              <img src="{{newsArticle.urlToImage}}" alt="{{newsArticle.urlToImage}}"><br>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>

    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-12 text-left">
              <h5 class=" card-category">Performance</h5>
              <h3 class=" card-title">Top Performing Stock</h3>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <h4 *ngIf="StockFlag">
            <div class=" row">
              <div class=" col-sm-6">
                <u>Stock</u> : {{topPerformingStock.stockSymbol}}<br>
                <u>Company</u> : {{topPerformingStock.companyName}}<br>
                <u>Open</u> : {{topPerformingStock.open}}<br>
                <u>Close</u> : {{topPerformingStock.close}}<br>
                <u>High</u> : {{topPerformingStock.high}}<br>
              </div>
              <div class=" col-sm-6">
                <u>Low</u> : {{topPerformingStock.low}}<br>
                <u>Volume</u> : {{topPerformingStock.volume}}<br>
                <u>Change</u> : {{topPerformingStock.change}}<br>
                <u>PE Ratio</u> : {{topPerformingStock.peRatio}}<br>
                <u>Market Capital</u> : {{topPerformingStock.marketCap}}<br>
              </div>
            </div>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>