<!-- <p-messages [value]="msgs"></p-messages> -->
<div class="content">
  <div class=" row">
    <div class=" col-lg-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <h4 class=" card-category">All Sectors</h4>
          <h2 class=" card-title">
            <i class=" tim-icons icon-chart-bar-32 text-info"> </i> SECTOR WISE COMPARISON
          </h2>
        </div>
        <div class=" card-body">
          <div class=" chart-area">
            <!-- <p-progressSpinner></p-progressSpinner> -->
            <canvas id="SectorChart"> </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" row">
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-12 text-left">
              <h5 class=" card-category">Current News</h5>
              <h4 class=" card-title">
                <i class=" tim-icons icon-bulb-63 text-success"> </i> TOP BUSINESS HEADLINES
              </h4>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <p-carousel [value]="latestNews" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1"
            [circular]="true" [autoplayInterval]="4000" [responsiveOptions]="responsiveOptions">
            <ng-template let-newsArticle pTemplate="item">
              <img src="{{newsArticle.urlToImage}}" alt="{{newsArticle.urlToImage}}" style="max-height: 300px;"><br>
              <a href="{{newsArticle.url}}" style="color: white;"><u>{{newsArticle.title}}</u></a>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>

    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-12 text-left">
              <h5 class=" card-category">User History Based</h5>

              <h4 class=" card-title">
                <i class=" tim-icons icon-trophy text-success" pTooltip="Enter your username" tooltipPosition="left">
                </i> TOP PERFORMING STOCK
              </h4>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <h4 *ngIf="stockFlag">
            <div class="row">
              <div class="col-md-12" style="text-align: center;">
                <h1 style="color: #1DCEF1;">{{topPerformingStock.companySymbol}}</h1>
                <h2 style="color: #25D4E6;"> {{topPerformingStock.companyName}}</h2>
                <h4 style="color: #2DDADB;">Market Capital : {{topPerformingStock.marketCap | number}} INR</h4><br>

                <div class="row">
                  <div class="col-md-4">
                    <h4 style="color: #35E0D1;"><u>Volume</u><br>
                      {{topPerformingStock.volume | number}}
                    </h4>
                  </div>
                  <div class="col-md-4">
                    <h4 style="color: #35E0D1;"><u>Change %</u><br>
                      {{topPerformingStock.change | number}}
                    </h4>
                  </div>
                  <div class="col-md-4">
                    <h4 style="color: #35E0D1;"><u>PE Ratio</u><br>
                      {{topPerformingStock.peRatio | number}}
                    </h4>
                  </div>
                </div>
              </div>
            </div>

            <br><br>

            <div class="row" style="text-align: center;">
              <div class="col-lg-3">
                <h4 style="color: #3DE6C6;">
                  <u>Open</u><br>
                  {{topPerformingStock.open | number}} INR
                </h4>
              </div>
              <div class="col-lg-3">
                <h4 style="color: #3DE6C6;">
                  <u>Close</u><br>
                  {{topPerformingStock.close | number}} INR
                </h4>
              </div>
              <div class="col-lg-3">
                <h4 style="color: #3DE6C6;">
                  <u>High</u><br>
                  {{topPerformingStock.high | number}} INR
                </h4>
              </div>
              <div class="col-lg-3">
                <h4 style="color: #3DE6C6;">
                  <u>Low</u><br>
                  {{topPerformingStock.low | number}} INR
                </h4>
              </div>
            </div>


          </h4>
        </div>
      </div>
    </div>
  </div>
</div>