<p-messages [value]="msgs"></p-messages>
<div class=" content">
	<div class=" row">
		<div class=" col-12">
			<h2>STOCK RECOMMENDATIONS</h2><br>

			<p-dropdown [options]="sector" name="selectedSector" [(ngModel)]="selectedSector" placeholder="Sectors"
				optionLabel="nameS" [showClear]="true"></p-dropdown>

			&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;

			<p-dropdown [options]="parameter" name="selectedParameter" [(ngModel)]="selectedParameter"
				placeholder="Parameters" optionLabel="nameP" [showClear]="true"></p-dropdown>

			&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;

			<button *ngIf="selectedSector!=null && selectedParameter!=null" type="submit" class="btn btn-success"
				style="color: darkslateblue; font-size: medium;" (click)="getRecommendations()">RECOMMENDATIONS</button>

			<br><br><br><br>

			<div class="card" *ngIf="renderData">
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-5"></div>
					<div class="col-sm-3">
						<br>
						<label for="ToggleChart" style="font-size: large; color: white;">Toggle Chart.</label>
						<p-inputSwitch name="ToggleChart" [(ngModel)]="!showChart" (click)="showChart=!showChart">
						</p-inputSwitch>
					</div>
				</div>
				<br>
				<div class="card-body">
					<p-table [columns]="cols" [value]="listOfRecommendationsForUser" *ngIf="showChart">
						<ng-template pTemplate="header" let-columns>
							<tr>
								<th *ngFor="let col of columns" style="text-align: center;">
									{{col.header}}
								</th>
								<th>Save Stock</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-rowData let-columns="columns">
							<tr>
								<ng-container *ngFor="let col of columns">
									<td *ngIf="col.field == 'companySymbol'" style="text-align: center;">
										{{rowData[col.field]}}
									</td>
									<td *ngIf="col.field == 'companyName'" style="text-align: center;">
										{{rowData[col.field]}}
									</td>
									<td *ngIf="col.field != 'companySymbol' && col.field != 'companyName'"
										style="text-align: center;">
										{{rowData[col.field] | number}}
									</td>
								</ng-container>
								<td>
									<p-button icon="pi pi-plus" (onClick)="showPositionDialog(rowData)">
									</p-button>
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
				<div class="card-body" *ngIf="!showChart">
					<p-chart type="line" [width]="400" [height]="500" [data]="basicData" [options]="basicOptions">
					</p-chart>
				</div>
			</div>
		</div>
	</div>
</div>

<p-confirmDialog [style]="{width: '30vw'}" key="positionDialog" [position]="position" [baseZIndex]="10000">
</p-confirmDialog>

<p-dialog header="Save Stock" [(visible)]="displayPosition" [position]="position" [modal]="true"
	[style]="{width: '30vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

	Enter Volume :
	<input type="text" pInputText [(ngModel)]="volume">
	<ng-template pTemplate="footer">
		<p-button icon="pi pi-times" (click)="displayPosition=false" label="No"></p-button>
		<p-button icon="pi pi-check" (click)="confirmSaveStock('right')" label="Yes" class="p-button-text">
		</p-button>
	</ng-template>
</p-dialog>