.renderBg {
    background-image: url(https://wallpapercave.com/wp/wp2128270.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 1550px 871px; */
    font-size: 16;
}

form {
    padding-left: 5px;
    padding-right: 5px;

}