<body class="renderBg">
  <br><br><br><br><br><br>
  <br><br>
  <div id="loginBox" class="container" align="vertical-center"
    style="max-width: 350px; background: black; opacity: 0.7; border: 2px solid gray; border-radius: 15px;">
    <form #loginform="ngForm" (ngSubmit)="loginUser()">
      <br>
      <h1 align="center" style="color: white">Log In</h1>
      <h4 class="text-danger" align="center">{{message}}</h4>
      <h3>
        <div class="form-group">
          <label style="color: white" for="userId">Username</label>
          <input style="color: white" type="text" class="form-control" placeholder="Username" name="userId"
            [(ngModel)]="user.userId" required #userId="ngModel" [class.is-invalid]="userId.invalid && userId.touched"
            pTooltip="Enter your Username" tooltipPosition="right">
          <small class="text-danger" [class.d-none]="userId.valid || userId.untouched">Username is required</small>
        </div>
      </h3>

      <h3>
        <div class="form-group">
          <label style="color: white" for="pwd">Password</label>
          <input style="color: white" type="password" class="form-control" placeholder="Password" name="password"
            [(ngModel)]="user.password" required #password="ngModel"
            [class.is-invalid]="password.invalid && password.touched" pTooltip="Enter your Password"
            tooltipPosition="right">
          <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
        </div>
      </h3>

      <br><br>
      <div align="center">
        <button [disabled]="loginform.form.invalid" type="submit" class="btn btn-success" style="color: darkslateblue; font-size: medium;">LOGIN</button>
      </div>

      <br>
    </form>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br>
</body>