<div class="logo">
  <a class="simple-text logo-normal"
    style="text-align: center; font-weight: 700; font-size: 2.7vh; color: darkslateblue;">
    Welcome,<br>{{userName}}
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{ menuItem.class }} nav-item">
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}" style="color: darkslateblue;"></i>
        <p style="font-weight: bolder; font-size: large; word-wrap: break-word; color: darkslateblue;">{{ menuItem.title
          }}</p>
      </a>
    </li>
    <li class="nav-item">
      <a (click)="logout()">
        <p style="font-weight: bolder; font-size: large; word-wrap: break-word; color: darkslateblue;">
          <i class=" tim-icons icon-button-power" style="color: darkslateblue;"></i> Log Out
        </p>
      </a>
    </li>
  </ul>
</div>